<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layouts/defaultTemplate">
	<div layout:fragment="content">
		<head>
			<link rel="stylesheet" th:href="@{/Styles.css}">
		</head>
		<body>
			<div th:if="${param.error}" class="listing">
				<p>Invalid username or password.</p>
			</div>	
			<div class="form">
				<h1 id="form-header">Login</h1>
				<form th:action="@{/login}" method="post">
					<table>
						<tr>
							<td style="padding:5px">Username:</td>
							<td style="padding:5px">
								<input type="text" name="username" id="username" placeholder="Username" required />
							</td>
						</tr>
						<tr>
							<td style="padding:5px">Password:</td>
							<td style="padding:5px">
								<input type="password" name="password" id="password" placeholder="Password" required />
							</td>
						</tr>
						<tr>
							<td colspan="2" align="center">
								<button class="btn btn-primary" type="submit">Login</button>
							</td>
						</tr>
					</table>
				</form>
			</div>
		</body>
	</div>
</html>
