<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layouts/defaultTemplate">
  <head>
      <meta charset="UTF-8">
      <title >Registration Successful</title>
	  <link rel="stylesheet" th:href="@{/Styles.css}">
  </head>
  <body>
  <div layout:fragment="content" class="form">

  <h1 id="form-header" style="color:red">Registration Failed</h1>
  <p style="color:red">The username or email that you entered is already in use. Please try again</p>
  <a th:href = "@{/register}" class="btn btn-danger">Back to Register</a></br>
  </div>
  </body>
</html>