<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layouts/defaultTemplate">
  <head>
      <meta charset="UTF-8">
      <title style="font-family: 'Baskerville Old Face', serif">Register</title>
  </head>
  <body style="background-image: url(/images/stock-photo3.jpg); background-size: cover">
  <div layout:fragment="content" class="container mt-5">
  <h1 style="font-family: 'Baskerville Old Face', serif; color: white">Register</h1>
	<form th:action="@{/register/submitRegistration}" method="post">
		<!-- Username -->
		<label for="username" style="color: white">Username:</label><br>
		<input type="text" id="username" name="username" placeholder="Enter your username" required><br><br>
		<!-- Email Input -->
		<label for="email" style="color: white">Email:</label><br>
		<input type="email" id="email" name="email" placeholder="Enter your email" required><br><br>
        <!-- Password Input -->
        <label for="password" style="color: white">Password:</label><br>
        <input type="password" id="password" name="password" placeholder="Enter your password" required><br><br>
		<!-- Password Confirm -->
		<label for="password-confirm" style="color: white">Confirm Password:</label><br>
		<input type="password" id="password-confirm" name="password-confirm" placeholder="Re-type your password" required><br><br>
		<!-- First Name -->
		<label for="name-first" style="color: white">First Name:</label><br>
		<input type="text" id="name-first" name="nameFirst" placeholder="Enter your first name" required><br><br>
		<!-- Last Name -->
		<label for="name-last" style="color: white">Last Name:</label><br>
		<input type="text" id="name-last" name="nameLast" placeholder="Enter your last name" required><br><br>
		<!-- Submit Button -->
		<button type="submit">Submit</button>
    </form>
  </div>
  </body>
</html>

<script>
	//Password validation
	document.getElementById("password-confirm").addEventListener("input", function () {
	        const password = document.getElementById("password").value;
	        const passwordConfirm = document.getElementById("password-confirm").value;
	        if (password !== passwordConfirm)
	            document.getElementById("password-confirm").setCustomValidity("Passwords do not match!");
	        else
	            document.getElementById("password-confirm").setCustomValidity("");
	    });
</script>